:root {
	/* Body background-color */
	--body-bg: rgba(248, 249, 253);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.5rem;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	background-color: var(--body-bg);
	/* color: rgb(64, 70, 248); */
}
